# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.g.dart
*.freezed.dart

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Android
android/.gradle/
android/captures/
android/local.properties
android/**/gradle-wrapper.jar
android/key.properties
*.jks
*.keystore

# iOS 
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Coverage
coverage/

# Environment / secrets 
.env
.env.*
!.env.example

android/key.properties
fajr2isha-release.jks